.paginationContainer {
  margin-top: 7rem;
  font-size: 2rem;
  display: flex;
  gap: max(3.8rem);
  align-items: center;
}

.paginationButton {
  padding: 1.5rem 2.7rem 1.5rem 2.7rem;
  text-decoration: none;
  color: black;
  border-radius: 7px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.prevButton {
  padding: 1.5rem 2.7rem 1.5rem 2.7rem;
  border-radius: 7px;
  text-decoration: none;
  color: black;
  background-color: #f9f1e7;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.prevButton:hover {
  background-color: #e7ded2;
}

.nextButton {
  border-radius: 7px;
  color: black;
  text-decoration: none;
  padding: 1.5rem 2.7rem 1.5rem 2.7rem;
  background-color: #f9f1e7;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.nextButton:hover {
  background-color: #e7ded2;
}

.overflowButton {
  color: var(--color-grey1);
}

@media screen and (max-width: 600px) {
  .paginationButton {
    display: none;
  }

  .paginationContainer {
    width: 100%;
    justify-content: space-between;
  }

  .nextButton {
    margin-left: auto;
  }

  .overflowButton {
    display: none;
  }
}
