.section {
  margin-top: 6.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fcf8f3;
}

.sectionInnerContainer {
  margin-left: 10rem;
  margin-top: 8.8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}

@media screen and (max-width: 850px) {
  .sectionInnerContainer {
    flex-direction: column;
  }
  .textArea {
    margin-left: 0px !important;
    margin: 5rem;
  }
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2.3rem;
  flex: 30% 0 0;
}

.headingBox {
  margin-bottom: 2.5rem;
}
.headingMain {
  font-size: 4rem;
  color: var(--color-grey1);
  line-height: 1.3;
}
.subHeading {
  font-size: 1.6rem;
  color: var(--color-grey2);
  font-weight: 500;
}
