.section {
  margin-top: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sectionInnerContainer {
  margin-top: 2.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionHeading {
  text-align: center;
}

.headingSmall {
  font-size: 2rem;
  color: var(--color-grey2);
  font-weight: 600;
  line-height: 1.6;
}

.headingMain {
  font-size: 4rem;
  margin-top: 0.8rem;
  color: var(--color-grey1);
}

@media screen and (max-width: 1000px) {
  .sectionMain {
    grid-template-rows: repeat(14, 15px) !important;
  }
}
@media screen and (max-width: 600px) {
  .sectionMain {
    grid-template-rows: repeat(14, 6px) !important;
  }
}

@media screen and (max-width: 400px) {
  .sectionMain {
    grid-template-rows: repeat(14, 2px) !important;
  }
}

.sectionMain {
  display: grid;
  max-width: 1920px;
  width: 100%;
  justify-content: center;

  grid-template-rows: repeat(14, 31px);

  grid-template-columns: repeat(13, 1fr);
  grid-gap: 16px;
  margin-bottom: 5rem;
}
.img {
  transition: all 0.2s;
}
.img:hover {
  transform: scale(1.05);
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.6);
}

.img1 {
  background-image: url("../../public/Rectangle 36.jpg");
  grid-row: 1/8;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}

.img2 {
  background-image: url("../../public/Rectangle 38.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/6;
  grid-row: 2/8;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}
.img3 {
  background-position: center;
  background-size: cover;
  grid-row: 4/11;
  grid-column: 6/9;
  background-image: url("../../public/Rectangle 40.jpg");
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}
.img4 {
  grid-row: 3/9;
  background-position: center;
  grid-column: 9/12;
  background-image: url("../../public/Rectangle 43.jpg");
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
  background-size: cover;
}
.img5 {
  grid-row: 1/9;
  background-size: cover;
  grid-column: 12/14;
  background-position: center;
  background-image: url("../../public/Rectangle 45.jpg");
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}
.img6 {
  grid-column: 1/3;
  grid-row: 8/15;
  background-position: center;
  background-size: cover;
  background-image: url("../../public/Rectangle 37.jpg");
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}
.img7 {
  grid-column: 3/6;
  background-position: center;
  background-size: cover;
  grid-row: 8/13;
  background-image: url("../../public/Rectangle 39.jpg");
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}

.img8 {
  grid-column: 9/11;
  background-position: center;
  grid-row: 9/15;
  background-size: cover;
  background-image: url("../../public/Rectangle 41.jpg");
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}
.img9 {
  grid-column: 11/13;
  grid-row: 9/13;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/Rectangle 44.jpg");
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.6);
}
