.buttonPrimary {
  background-color: var(--color-primary);
  border: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.6s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
.buttonPrimary:hover {
  background-color: rgb(135, 102, 27);
  cursor: pointer;
}

.buttonSecondary {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.6s;
}
.buttonSecondary:hover {
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}
