.input {
  border: none;
  color: var(--color-grey5);
  font-size: 2rem;
  padding-left: 1.8rem;
  height: 5rem;
  width: 7rem !important;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
