.likeButton {
  color: #fff;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.likeOnHover {
  width: auto;
  height: auto;
  fill: red;
  stroke: red;
}

.buttonName {
  margin-left: 0.3rem;
}
