.bgHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.innerContainer {
  height: 300px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerMain {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.4;
}

.pages {
  text-align: center;
  display: flex;
  align-items: center;
}
.headerLink {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  margin-right: 0.6rem;
}
.headerLinkTo {
  margin-left: 0.6rem;
  text-decoration: none;
  cursor: default;
  font-weight: 400;
  color: #000;
}
