.productContainer {
  width: 100%;
}

.listGridContainer {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.2rem 3.2rem;
  flex: 0 1 auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
  grid-gap: 3.2rem 3.2rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
