.section {
  margin-top: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sectionInnerContainer {
  max-width: 1280px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sectionTop {
  text-align: center;
}

.sectionHeading {
  font-size: 4rem;
  line-height: 1;
  color: var(--color-grey1);
}

.sectionMain {
  margin-top: 3.2rem;
}


.sectionShowMore {
  margin-top: 3.2rem;
  text-align: center;
}
.card {
  outline: 1px solid red;
  width: 285px;
  height: 446px;
  border-radius: 5px;
  background-color: aqua;
}
