.bottomBanner {
  margin-top: 8.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf3ea;
  padding: 5.3rem;
}

.innerContainer {
  max-width: 1440px;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 750px) {
  .innerContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

.bannerItem {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.bannerItem:hover {
  transform: scale(1.04);
}
.bannerText {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  font-size: 2rem;
  color: var(--color-grey3);
}
.bannerTextHeading {
  font-size: 2.5rem;
  font-weight: 500;
  color: #242424;
}
