.button,
.button:focus-visible {
  background-color: transparent;
  border: 1px solid black;
  padding: 1.7rem 4.7rem;
  border-radius: 1.2rem;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}
