.cartSec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}
.cartInner {
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  font-size: 1.6rem;
  gap: 3rem;
}
