.cartSec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

.cartInner {
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  font-size: 1.6rem;
  gap: 3rem;
}

/* CART LEFT */

.cartItems {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cartItem {
  color: var(--color-grey5);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cartItemsTop {
  padding: 1.5rem 0rem;
  background-color: #f9f1e7;
  display: flex;
  font-weight: 500;
}

.productImageCont {
  border-radius: 1.2rem;
  max-width: 108px;
  width: 100%;
  background-color: rgba(184, 142, 47, 0.3);
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

/* CART RIGHT */
.cartTotal {
  align-self: flex-start;
  background-color: #f9f1e7;
  padding: 1.5rem 7.5rem 7.5rem 8.9rem;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cartTotalHead {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.6;
}

.cartTotalMain {
  margin-top: 6rem;
}

.cartPrices {
  margin-bottom: 4.2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: 500;
}

.priceSubtotal {
  color: var(--color-grey5);
}

.priceTotal {
  color: var(--color-primary);
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .cartInner {
    flex-direction: column;
  }
  .cartTotal {
    width: 100%;
    align-self: center;
  }
}
