.topBar {
  background-color: #f9f1e7;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: #000;
  font-size: 1.6rem;
}

.innerTopBar {
  margin-top: 2.3rem;
  margin-bottom: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.barLeft {
  display: flex;
  align-items: center;
}

.barLeftText {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-left: 2px solid var(--color-grey5);
  padding-left: 3.4rem;
}

.barRight {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #000;
}

.show {
  display: flex;
  align-items: center;
}

.showText {
  margin-right: 1.7rem;
}

.showItem {
  background-color: #fff;
  padding: 1.2rem 1.8rem;
  color: var(--color-grey5);
}
