.nav {
  font-size: 1.6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  max-height: 10rem;
  z-index: 50;
}

.linkContainer {
  display: flex;
  width: 100%;
  max-width: 43rem;
  justify-content: space-between;
}

.uiContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 240px;
}

.cartIco {
  position: relative;
}

.cartIco::after {
  content: attr(data-item);
  line-height: 1.2;
  position: absolute;
  font-size: 1.2rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  text-align: center;
  top: -4px;
  right: -5px;
  background-color: red;
  color: #fff;
  padding: 0.2rem;
  cursor: pointer;
}
