.inputContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: black;
}

.input {
  width: 100%;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
  height: 5rem;
}
.input:focus-visible {
  border: 2px solid var(--color-grey1) !important;
  outline: none;
}

.messageHasError::placeholder {
  color: red;
}
