.nav {
  font-size: 1.6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.linkContainer {
  display: flex;
  width: 100%;
  max-width: 43rem;
  justify-content: space-between;
}

.uiContainer {
  display: flex;
  align-items: center;
}

.uiContainer > * {
  margin-left: 4.5rem;
}
